/* HTML5 DECLARATIONS */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, dialog {display: block}
audio[controls],canvas,video {display: inline-block; *display: inline; zoom: 1}

/* BASE */
html {height: 100%; font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%} /* Force scrollbar in non-IE and Remove iOS text size adjust without disabling user zoom */
body {background: #e9efff; margin: 0; min-height: 100%; -webkit-font-smoothing:antialiased; font-smoothing:antialiased; text-rendering:optimizeLegibility;0 1.1875em} /* Improve default text rendering, handling of kerning pairs and ligatures */

/* DEFAULT FONT SETTINGS */
/* 16px base font size with 150% (24px) friendly, unitless line height and margin for vertical rhythm */
/* Font-size percentage is based on 16px browser default size */
body, button, input, select, textarea {font: 100%/1.5 Lato, Helvetica, sans-serif; *font-size: 1em; color: #30323B} /* IE7 and older can't resize px based text */
p, blockquote, q, pre, address, hr, code, samp, dl, ol, ul, form, table, fieldset, menu, img {margin: 0 0 1.5em; padding: 0}

/* TYPOGRAPHY */
/* Composed to a scale of 12px, 14px, 16px, 18px, 21px, 24px, 36px, 48px, 60px and 72px */
h1, h2, h3, h4, h5, h6 {font-family:Lato,Futura, "Century Gothic", AppleGothic, sans-serif;color:#9097AD;text-shadow:1px 1px 1px rgba(0,0,0,.10);font-weight:700;}
h1 > span {font-weight: 300; color: #30323B;}
h1 {margin: 0; font-size: 3.75em; line-height: 1.2em; margin-bottom: 0.4em} /* 60px / 72px */
h2 {margin: 0; font-size: 3em; line-height: 1em; margin-bottom: 0.5em} /* 48px / 48px */
h3 {margin: 0; font-size: 2.25em; line-height: 1.3333333333333333333333333333333em; margin-bottom: 0.6667em} /* 36px / 48px */ 
h4 {margin: 0; font-size: 1.5em; line-height: 1em; margin-bottom: 1em} /* 24px / 24px */
h5 {margin: 0; font-size: 1.3125em; line-height: 1.1428571428571428571428571428571em; margin-bottom: 1.1428571428571428571428571428571em} /* 21px / 24px */
h6 {margin: 0; font-size: 1.125em; line-height: 1.3333333333333333333333333333333em; margin-bottom: 1.3333333333333333333333333333333em} /* 18px / 24px */
p, ul, blockquote, pre, td, th, label {font-family:Lato,Futura, "Century Gothic", AppleGothic, sans-serif;margin: 0; font-size: 1em; line-height: 1.5em; margin-bottom: 1.5em} /* 16px / 24px */
small, p.small {margin: 0; font-size: 0.875em; line-height: 1.7142857142857142857142857142857em; margin-bottom: 1.7142857142857142857142857142857em} /* 14px / 24px */

/* CODE */
pre {white-space: pre; white-space: pre-wrap; word-wrap: break-word} /* Allow line wrapping of 'pre' */
pre, code, kbd, samp {font-size: 1em; line-height: 1.5em; margin-bottom: 1.5em; font-family: Menlo, Consolas, 'DejaVu Sans Mono', Monaco, monospace}

/* TABLES */
table {border-collapse: collapse; border-spacing: 0; margin-bottom: 1.5em}
th {text-align: left}
tr, th, td {padding-right: 1.5em; border-bottom: 0 solid #333}

/* FORMS */
form {margin: 0}
fieldset {border: 0;padding: 0}
textarea {overflow: auto; vertical-align: top}
legend {*margin-left: -.75em}
button, input, select, textarea {vertical-align: baseline; *vertical-align: middle} /* IE7 and older */
button, input {line-height: normal; *overflow: visible}
button, input[type="button"], input[type="reset"], input[type="submit"] {cursor: pointer;-webkit-appearance: button}
input[type="checkbox"], input[type="radio"] {box-sizing: border-box}
input[type="search"] {-webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;	box-sizing: content-box}
input[type="search"]::-webkit-search-decoration {-webkit-appearance: none}
button::-moz-focus-inner, input::-moz-focus-inner {border: 0; padding: 0}

/* QUOTES */
blockquote, q {quotes: none}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none}
blockquote, q, cite {font-style: italic}
blockquote {padding-left: 1.5em; border-left: 3px solid #ccc}
blockquote > p {padding: 0}

/* LISTS */
ul, ol {list-style-position: inside; padding: 0; list-style-type : none ; }
li ul, li ol {margin: 0 1.5em}
dl dd {margin-left: 1.5em}
dt {font-family:Futura, "Century Gothic", AppleGothic, sans-serif}

/* HYPERLINKS */
a {text-decoration: none; color:#9097AD; font-family:Lato, "Century Gothic", AppleGothic, sans-serif;}
a:hover { color : #30323B; }
a:focus {outline: thin dotted}
a:hover, a:active {outline: none} /* Better CSS Outline Suppression */
a.links { border-bottom: 1px dotted #9097AD;}
a.links:hover { border-bottom: 1px solid #30323B; }


/* DEFAULT MOBILE STYLE */
body{width: 92%; margin: 0 auto; background : #E9EFFF ;} /* Center page without wrapper */
#doc { min-height: 100%; }
#content{ overflow : auto ; padding-bottom : 14em ;}

/* column grid */
.g1,.g2,.g3{display:block; position: relative; margin-left: 1%; margin-right: 1%}
/* 1 column grid */
.g1,.g2,.g3{width:98.0%}
header {background: url("../images/logo50.png") no-repeat top left; margin-top : 2em ;  padding-left : 3.5em ;  min-height :50px;}
header h1 { font-size: 2.5em; line-height: 1em; margin-bottom: 0.5em;}
header  nav {text-align : center ; margin-left: -2.75em; padding-bottom : 1em ; }
header a:hover {text-decoration : none ;}

header h2 {font-size : 1em ; font-weight : 300 ; margin-top : -1.25em; margin-bottom : 1.25em ; color : #30323B;	 }

aside { margin-left : 2%;}
aside h5 { font-size: 0.875em; margin-bottom :0.5em; }
aside p { font-size: 0.875em; line-height: 1.7142857142857142857142857142857em; margin-bottom: 2.5em ; }
aside > p > span  {color : #9097AD;}

footer {position : relative  ; margin-top: -14em; margin-left : 1%; height: 14em;	padding-bottom : 0em ;clear:both; }
footer h3 { line-height : 0.5em;}
footer a {color : #30323B; }

/* media Queries

FOLDING FLUID GRID
< 767px			- 1-Column Fluid Grid
768px - 1023px	- 2-Column Fluid Grid
> 1024px			- 3-Column Fluid Grid
Change widths as necessary
------------------------------------------- */

/* MOBILE PORTRAIT */
@media only screen and (min-width: 320px) {
	body {
		
	}
	
	header  nav {text-align : left ;}
}

/* MOBILE LANDSCAPE */
@media only screen and (min-width: 480px) {
	body {
		
	}
	header  nav {}
}

/* SMALL TABLET */
@media only screen and (min-width: 600px) {
	body {
		
	}
	header  nav { text-align : left;}
}

/* TABLET/NETBOOK */
@media only screen and (min-width: 768px) { 
	body {
		
	}
	
	header {margin-left : 1em ; background: url("../images/logo75_2.png") no-repeat top left; min-height :75px; padding-left : 5em ;}
	header  nav {text-align : right ; margin-right : 1em ;}
	header h1 { font-size: 3.25em; line-height: 1em; margin-bottom: 0.4em; }
	
	
	
	aside { margin-left : 2%;}
	aside h5 { font-size: 1.3125em; line-height: 1.1428571428571428571428571428571em; }
	aside p { font-size: 1em; line-height: 1.5em; margin-bottom: 3em }
	
	.g1,.g2,.g3 {display:inline; float: left}
	
	.g1 {width:48.0%}
	.g2 {width:48.0%}
	.g3 {width:98.0%}
}

/* LANDSCAPE TABLET/NETBOOK/LAPTOP */
@media only screen and (min-width: 1024px) { 
	body {

	}
	
	.g1 {width:31.333%}
	.g2 {width:64.667%;}
	.g3 {width:98.0%}
}

@media only screen and (min-width: 1280px) { 
/* DESKTOP */
		body {

	}
	
}

/* WIDESCREEN */
/* Increased body size for legibility */
@media only screen and (min-width: 1400px) { 
	body {font-size:116.75%; max-width:1280px} 
	
	header { background  : url("../images/logo114.png") no-repeat top left;}
	header h1 { font-size : 4em ; padding-left : 0.4em ; }
	header h2 {padding-left :2em ;}	
} 


.special .slides li img {
	display: block;
	margin-left : 2%;
	width: 96%;
	max-width: none;
	padding-bottom: 2em; 
}

.blueberry .slides {
	display: block;
	position: relative;
	overflow: hidden;
}
.blueberry .slides li {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.blueberry .slides li img {
	display: block;
	margin-left : 2%;
	width: 96%;
	max-width: none;
}
.blueberry .slides li.active { display: block; position: relative; }
.blueberry .crop li img { width: auto; }

.blueberry .pager {
	margin-top : -2em ;
	height: 10px;
	text-align: center;
}
.blueberry .pager li { display: inline-block; }
.blueberry .pager li a,
.blueberry .pager li a span {
	display: block;
	height: 4px;
	width: 4px;
}
.blueberry .pager li a {
	padding:0px 12px;
-webkit-border-radius: 6px;
   -moz-border-radius: 6px;
	border-radius: 6px;
}
.blueberry .pager li a span {
	overflow: hidden;
	background: #c0c0c0;
	text-indent: -9999px;
-webkit-border-radius: 2px;
   -moz-border-radius: 2px;
	border-radius: 2px;
}
.blueberry .pager li.active a span { background: #404040; }



/* PRINT */
@media print {
  * {background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important} /* Black prints faster */
  a, a:visited {color: #444 !important; text-decoration: underline}
  a[href]:after {content: " (" attr(href) ")"}
  abbr[title]:after {content: " (" attr(title) ")"}
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {content: ""}  /* Don't print links for images, javascript or internal links */
  pre, blockquote {border: 1px solid #999; page-break-inside: avoid; }
  thead {display: table-header-group; } /* Repeat header row at top of each printed page */
  tr, img {page-break-inside: avoid; }
  img {max-width: 100% !important; }
  @page {margin: 0.5cm}
  p, h2, h3 {orphans: 3; widows: 3}
  h2, h3{page-break-after: avoid}
}