@font-face {
    font-family: 'Akzidenz Grotesk';
    src: url('../fonts/akzidenzgroteskpro-light-webfont.eot');
    src: url('../fonts/akzidenzgroteskpro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akzidenzgroteskpro-light-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgroteskpro-light-webfont.woff') format('woff'),
         url('../fonts/akzidenzgroteskpro-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Akzidenz Grotesk';
    src: url('../fonts/akzidenzgroteskpro-lightit-webfont.eot');
    src: url('../fonts/akzidenzgroteskpro-lightit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akzidenzgroteskpro-lightit-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgroteskpro-lightit-webfont.woff') format('woff'),
         url('../fonts/akzidenzgroteskpro-lightit-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Akzidenz Grotesk';
    src: url('../fonts/akzidenzgroteskpro-md-webfont.eot');
    src: url('../fonts/akzidenzgroteskpro-md-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akzidenzgroteskpro-md-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgroteskpro-md-webfont.woff') format('woff'),
         url('../fonts/akzidenzgroteskpro-md-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Akzidenz Grotesk';
    src: url('../fonts/akzidenzgroteskpro-mdit-webfont.eot');
    src: url('../fonts/akzidenzgroteskpro-mdit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akzidenzgroteskpro-mdit-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgroteskpro-mdit-webfont.woff') format('woff'),
         url('../fonts/akzidenzgroteskpro-mdit-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

$sans-serif: 'Akzidenz Grotesk', 'Helvetica Neue', 'Helvetica', 'sans-serif';
$monospace: 'Source Code Pro', 'Consolas', "Andale Mono WT", 'Andale Mono',
            'Lucida Console', 'DejaVu Sans Mono', monospace;

$base-font-family: $sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;
$base-line-height: 1.7;

$heading-font-family: $sans-serif;
$heading-font-weight: 700;

$fixed-font-family: $monospace;
$fixed-font-size: 95%;
$fixed-line-height: 1.5;

$loud-color: #000;
$quiet-color: rgba($loud-color, 0.5);
$text-color: rgba($loud-color, 0.8);
$heading-color: rgba($loud-color, 0.9);
// $link-color: #2ecc71;
// $link-color: #3bc6aa;
// $link-color: #a8493e;
$link-color: #85d396;
$accent-color: $link-color;
$link-hover-color: saturate($link-color, 20%);
$link-visited-color: $link-color;
$border-color: rgba($text-color, 0.1);


$masthead-height: 50px;
