<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title>Will Paul{% if page.title %} - {{page.title}} {% endif %}</title>

    {% block rss %}
      <link rel="alternate" type="application/atom+xml" title="Atom Feed" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
    {% endblock %}

    <link rel="stylesheet" href="{{ get_url(path="main.css") }}" />

    <!-- Viewport declarations -->
    <meta name="viewport" content="width=533">
    <meta name="viewport" content="initial-scale=0.6">
  </head>
  <body>
    <div class="wrapper">
      <header class="hero">
        <a href="/">
          <h1 class='logo'>
            &lambda;will.paul
          </h1>
        </a>

        <nav>
          <ul>
            <li><a href="{{ get_url(path="/") }}">projects</a></li>
            <li ><a href="{{ get_url(path="posts") }}">posts</a></li>
            <li><a href="http://github.com/dropofwill">github</a></li>
            <li><a href="http://will-paul.com/resume">resume</a></li>
          </ul>
        </nav>
      </header>

      <div class="typeset" role="main">
        {% block content %}

        {% endblock %}
      </div>
    </div>

    <!-- Render nice latex formulas -->
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        CommonHTML: {
          scale: 130
        }
      });
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  </body>
</html>
