---
layout: layout
---

<h5>I am a developer with research skills. My interests include functional programming, natural language processing, interactive data-viz, and server development.</h5>

<ul class='project-nav'>
  <li>
    <a href='content/projects/cgraph' class='project-link'>
      C-Graph <span>interactive data-viz</span>
    </a>
  </li>

  <li>
    <a href='content/projects/bloxeo' class='project-link'>
      Bloxeo <span>real-time server</span>
    </a>
  </li>

  <li>
    <a href='content/projects/stressed-out' class='project-link'>
      Stressed out <span>NLP research</span>
    </a>
  </li>

  <li>
    <a href='content/projects/rtasklib' class='project-link'>
      Rtasklib <span>task data library</span>
    </a>
  </li>
</ul>
