---
layout: layout
---

<h5>Software engineer working on distributed systems at <a href="http://about.constantcontact.com/company">Constant Contact.</a> Interested in functional programming, computational linguistics, and data visualization.</h5>

<ul class='project-nav'>
  <li>
    <a href='content/projects/cgraph' class='project-link'>
      C-Graph <span>interactive data-viz</span>
    </a>
  </li>

  <li>
    <a href='content/projects/bloxeo' class='project-link'>
      Bloxeo <span>real-time server</span>
    </a>
  </li>

  <li>
    <a href='content/projects/stressed-out' class='project-link'>
      Stressed Out <span>computational linquistics research</span>
    </a>
  </li>

  <li>
    <a href='content/projects/rtasklib' class='project-link'>
      Rtasklib <span>task data library</span>
    </a>
  </li>
</ul>
