---
layout: layout
---

<% page_articles.each_with_index do |article, i| %>
	<article class="summary">

    <% link_to article do %>
      <h3 class="summary-title"><%= article.data.title %></h3>
    <% end %>

    <div class="summary-body emphasis">
      <p>
        <%= article.summary %>
        <%= link_to "Read more&#8230;", article.url %>
      </p>
    </div>

	</article>
<% end %>
