---
layout: layout
---

<h5>I am a developer with research skills. My interests include functional programming, natural language processing, interactive data-viz, and server development.</h5>

<ul class='project-nav'>
  <li>
    <a href='content/projects/cgraph' class='project-link'>
      <h1 class='project-title'>C-Graph <span>interactive data-viz</span></h1>
    </a>
  </li>

  <li>
    <a href='content/projects/bloxeo' class='project-link'>
      <h1 class='project-title'>Bloxeo <span>real-time server</span></h1>
    </a>
  </li>

  <li>
    <a href='content/projects/stressed-out' class='project-link'>
      <h1 class='project-title'>Stressed out <span>NLP research</span></h1>
    </a>
  </li>

  <li>
    <a href='content/projects/rtasklib' class='project-link'>
      <h1 class='project-title'>Rtasklib <span>task data library</span></h1>
    </a>
  </li>
</ul>
